INDDHH Eclipse/webApia/WEB-INF/classes/biz/statum/ApiaCommand/ApiaCommand.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://statum.biz/ApiaCommand/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApiaCommand" targetNamespace="http://statum.biz/ApiaCommand/" xmlns:impl="http://statum.biz/ApiaCommand/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://statum.biz/ApiaCommand/"  >
      <xsd:element name="executeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="command" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeResponse" >
        <xsd:complexType name="typeResult">
        	<xsd:element name="message" type="xsd:string" />
        	<xsd:sequence>
        		<xsd:element name="code" type="xsd:int"></xsd:element>
        		<xsd:element name="message" type="xsd:string"></xsd:element>
        	</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeRequest">
    <wsdl:part element="tns:executeRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part element="tns:executeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ApiaCommand">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:executeRequest"/>
      <wsdl:output message="tns:executeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiaCommand" type="tns:ApiaCommand">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <soap:operation soapAction="http://statum.biz/ApiaCommand/execute"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiaCommand">
    <wsdl:port binding="tns:ApiaCommand" name="ApiaCommand">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
