INDDHH Eclipse/webApia/ws/pge/traza/LineaService_V1.0.wsdl

<?xml version="1.0" ?>
<wsdl:definitions 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="lineaService" 
	targetNamespace="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService">
	<wsdl:types>
		<xs:schema 
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService"
			elementFormDefault="unqualified"
			targetNamespace="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService"
			version="1.0">

			<xs:element name="lineaDTO" type="tns:lineaDTO"></xs:element>

			<xs:element name="persist" type="tns:persist"></xs:element>

			<xs:element name="persistResponse" type="tns:persistResponse"></xs:element>

			<xs:element name="ping" type="tns:ping"></xs:element>

			<xs:element name="pingResponse" type="tns:pingResponse"></xs:element>

			<xs:element name="responseDTO" type="tns:responseDTO"></xs:element>

			<xs:complexType name="persist">
				<xs:sequence>
					<xs:element minOccurs="0" name="traza" type="tns:lineaDTO"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType final="extension restriction" name="lineaDTO">
				<xs:sequence>
					<xs:element name="idTransaccion" type="xs:string"></xs:element>
					<xs:element name="edicionModelo" type="xs:long"></xs:element>
					<xs:element minOccurs="0" name="idOficina" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="oficina" type="xs:string"></xs:element>
					<xs:element name="fechaHoraOrganismo" type="xs:dateTime"></xs:element>
					<xs:element minOccurs="0" name="tipoRegistroTrazabilidad" type="tns:tipoRegistroTrazabilidadEnum"></xs:element>
					<xs:element minOccurs="0" name="paso" type="xs:long"></xs:element>
					<xs:element minOccurs="0" name="descripcionDelPaso" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="aclaraciones" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="pasoDelProceso" type="xs:long"></xs:element>
					<xs:element minOccurs="0" name="idOficinaDestino" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="oficinaDestino" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="estadoProceso" type="tns:estadoProcesoEnum"></xs:element>
					<xs:element minOccurs="0" name="datoExtra1" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="datoExtra2" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="datoExtra3" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="datoExtra4" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="persistResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:responseDTO"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="responseDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="estado" type="tns:estadoRespuestaEnum"></xs:element>
					<xs:element minOccurs="0" name="mensaje" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ping">
				<xs:sequence></xs:sequence>
			</xs:complexType>

			<xs:complexType name="pingResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="tipoRegistroTrazabilidadEnum">
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"></xs:enumeration>
					<xs:enumeration value="2"></xs:enumeration>
					<xs:enumeration value="3"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="estadoProcesoEnum">
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"></xs:enumeration>
					<xs:enumeration value="2"></xs:enumeration>
					<xs:enumeration value="3"></xs:enumeration>
					<xs:enumeration value="4"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="estadoRespuestaEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK"></xs:enumeration>
					<xs:enumeration value="ERROR"></xs:enumeration>
					<xs:enumeration value="EXCEPTION"></xs:enumeration>
					<xs:enumeration value="EXCEPTION_MENSAJE"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="persistResponse">
		<wsdl:part element="tns:persistResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ping">
		<wsdl:part element="tns:ping" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="persist">
		<wsdl:part element="tns:persist" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part element="tns:pingResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LineaWS">
		<wsdl:documentation>La numeración de los enumerados está basada en el modelo de trazas definido por Unit</wsdl:documentation>
		<wsdl:operation name="persist">
			<wsdl:input message="tns:persist" name="persist"></wsdl:input>
			<wsdl:output message="tns:persistResponse" name="persistResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:ping" name="ping"></wsdl:input>
			<wsdl:output message="tns:pingResponse" name="pingResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="lineaServiceSoapBinding" type="tns:LineaWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="persist">
			<soap:operation soapAction="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService/persist" style="document"></soap:operation>
			<wsdl:input name="persist">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="persistResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation soapAction="http://ws.web.bruto.itramites.agesic.gub.uy/lineaService/ping" style="document"></soap:operation>
			<wsdl:input name="ping">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="lineaService">
		<wsdl:port binding="tns:lineaServiceSoapBinding" name="LineaWSPort">
			<soap:address location="http://localhost:15858/itramites/lineaService"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>