INDDHH Eclipse/webApia/customScripts/wsdl/FORMAS_DOCUMENTALES_TIT_EXT_NRO_EXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.apiasolutions.com/WebServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.apiasolutions.com/WebServices" xmlns:intf="http://www.apiasolutions.com/WebServices" xmlns:tns1="http://AutogenerateWSDL.ws.dogma.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.apiasolutions.com/WebServices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://AutogenerateWSDL.ws.dogma.com"/>
   <element name="qry_tit_ws_buscar">
    <complexType>
     <sequence>
      <element name="ApiaWSInput" type="impl:ApiaWSInputType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ApiaWSInputType">
    <complexContent>
     <extension base="tns1:AbstractApiaWSInputType">
      <sequence>
       <element name="Q_att_value_1" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="qry_tit_ws_buscarResponse">
    <complexType>
     <sequence>
      <element name="ExecResult" type="impl:ExecResultType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Row">
    <sequence>
     <element name="att_value_1" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ExecResultType">
    <sequence>
     <element name="resultCode" type="xsd:int"/>
     <element name="resultMessage" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="resultQueryRows" type="impl:Row"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://AutogenerateWSDL.ws.dogma.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://www.apiasolutions.com/WebServices"/>
   <complexType abstract="true" name="AbstractApiaWSInputType">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="qry_tit_ws_buscarResponse">

      <wsdl:part element="impl:qry_tit_ws_buscarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="qry_tit_ws_buscarRequest">

      <wsdl:part element="impl:qry_tit_ws_buscar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ApiaWSInterface">

      <wsdl:operation name="qry_tit_ws_buscar">

         <wsdl:input message="impl:qry_tit_ws_buscarRequest" name="qry_tit_ws_buscarRequest">

       </wsdl:input>

         <wsdl:output message="impl:qry_tit_ws_buscarResponse" name="qry_tit_ws_buscarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApiaWSqry_tit_ws_buscarSoapBinding" type="impl:ApiaWSInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="qry_tit_ws_buscar">

         <wsdlsoap:operation soapAction="apiaAction"/>

         <wsdl:input name="qry_tit_ws_buscarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="qry_tit_ws_buscarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ApiaWSInterfaceService">

      <wsdl:port binding="impl:ApiaWSqry_tit_ws_buscarSoapBinding" name="ApiaWSqry_tit_ws_buscar">

         <wsdlsoap:address location="http://localhost:8989/ApiaDocumentum1.9.5/services/ApiaWSqry_tit_ws_buscar"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
