INDDHH Eclipse/webApia/ws/com/dogma/ws/AutogenerateWSDL/creacion_de_expediente_via_ws/creacion_de_expediente_via_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.apiasolutions.com/WebServices"
	xmlns:impl="http://www.apiasolutions.com/WebServices"
	xmlns:intf="http://www.apiasolutions.com/WebServices"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns3="http://www.ig.com.br/poc/Venda"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns1="http://www.apiasolutions.com/WebServices/Data">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.apiasolutions.com/WebServices" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://www.apiasolutions.com/WebServices">
			<element name="ApiaWSInput" type="impl:ApiaWSInputType"/>
			<complexType name="ApiaWSInputType">
			  	<sequence>
					<element name="B_PRMT_OFICINA_ORIGEN_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_TIPO_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_ASUNTO_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_PRIORIDAD_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_CONFIDENCIALIDAD_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_DOCUMENTACION_FISICA_EXPEDIENTE" type="xsd:string"/>
					<element name="B_PRMT_CLASIFICACION_EXPEDIENTE" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="ExecResult" type="impl:ExecResultType"/>
			<complexType name="ExecResultType">
			  	<sequence>
			  		<element name="resultCode" type="xsd:int"/>
			  		<element name="resultMessage" type="xsd:string"/>
			  		<element name="parameters" type="impl:Parameter" nillable="true"/>
				</sequence>
			</complexType>
			<complexType name="Parameter">
			  	<sequence>
			  		<element name="PRMT_NRO_EXPEDIENTE_STR" type="xsd:string" nillable="true"/>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="creacion_de_expediente_via_wsRequest">
		<wsdl:part name="creacion_de_expediente_via_wsInput" element="impl:ApiaWSInput"/>
	</wsdl:message>
	<wsdl:message name="creacion_de_expediente_via_wsResponse">
		<wsdl:part name="creacion_de_expediente_via_wsReturn" element="impl:ExecResult"/>
	</wsdl:message>	
	<wsdl:portType name="ApiaWSInterface">
		<wsdl:operation name="creacion_de_expediente_via_ws" parameterOrder="creacion_de_expediente_via_wsInput">
			<wsdl:input name="creacion_de_expediente_via_wsRequest" message="impl:creacion_de_expediente_via_wsRequest"/>
			<wsdl:output name="creacion_de_expediente_via_wsResponse" message="impl:creacion_de_expediente_via_wsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApiaWSSoapBinding" type="impl:ApiaWSInterface">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creacion_de_expediente_via_ws">
			<wsdlsoap:operation soapAction="apiaAction"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApiaWSInterfaceService">
		<wsdl:port name="ApiaWScreacion_de_expediente_via_ws" binding="impl:ApiaWSSoapBinding">
			<wsdlsoap:address location="http://LOCATION-TOKEN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
