INDDHH Eclipse/webApia/ws/com/dogma/ws/AutogenerateWSDL/ws_setear_ubicacion/ws_setear_ubicacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.apiasolutions.com/WebServices"
	xmlns:impl="http://www.apiasolutions.com/WebServices"
	xmlns:intf="http://www.apiasolutions.com/WebServices"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns3="http://www.ig.com.br/poc/Venda"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns1="http://www.apiasolutions.com/WebServices/Data">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.apiasolutions.com/WebServices" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://www.apiasolutions.com/WebServices">
			<element name="ApiaWSInput" type="impl:ApiaWSInputType"/>
			<complexType name="ApiaWSInputType">
			  	<sequence>
					<element name="B_nroTramite" type="xsd:string"/>
					<element name="B_valor" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="ExecResult" type="impl:ExecResultType"/>
			<complexType name="ExecResultType">
			  	<sequence>
			  		<element name="resultCode" type="xsd:int"/>
			  		<element name="resultMessage" type="xsd:string"/>
			  		<element name="parameters" type="impl:Parameter" nillable="true"/>
				</sequence>
			</complexType>
			<complexType name="Parameter">
			  	<sequence>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="ws_setear_ubicacionRequest">
		<wsdl:part name="ws_setear_ubicacionInput" element="impl:ApiaWSInput"/>
	</wsdl:message>
	<wsdl:message name="ws_setear_ubicacionResponse">
		<wsdl:part name="ws_setear_ubicacionReturn" element="impl:ExecResult"/>
	</wsdl:message>	
	<wsdl:portType name="ApiaWSInterface">
		<wsdl:operation name="ws_setear_ubicacion" parameterOrder="ws_setear_ubicacionInput">
			<wsdl:input name="ws_setear_ubicacionRequest" message="impl:ws_setear_ubicacionRequest"/>
			<wsdl:output name="ws_setear_ubicacionResponse" message="impl:ws_setear_ubicacionResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApiaWSSoapBinding" type="impl:ApiaWSInterface">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ws_setear_ubicacion">
			<wsdlsoap:operation soapAction="apiaAction"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApiaWSInterfaceService">
		<wsdl:port name="ApiaWSws_setear_ubicacion" binding="impl:ApiaWSSoapBinding">
			<wsdlsoap:address location="http://LOCATION-TOKEN"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
