INDDHH Eclipse/webApia/ws/pge/dnpt/dnpt_schema_0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://servicios.pge.red.uy/dnpt/rree/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.pge.red.uy/dnpt/rree/"><xs:import schemaLocation="dnpt_schema_2.xsd" namespace="http://schemas.datacontract.org/2004/07/DNPT.WS_RREE"/><xs:element name="TieneProntuario"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ci" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ciFuncionario" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="TieneProntuarioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="TieneProntuarioResult" nillable="true" type="q1:DatosProntuario" xmlns:q1="http://schemas.datacontract.org/2004/07/DNPT.WS_RREE"/></xs:sequence></xs:complexType></xs:element><xs:element name="Ping"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="PingResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>