INDDHH Eclipse/webApia/ws/pge/dnpt/dnpt_ServicioRREE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
	name="ServicioRREE"
	targetNamespace="http://servicios.pge.red.uy/dnpt/rree/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:tns="http://servicios.pge.red.uy/dnpt/rree/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://servicios.pge.red.uy/dnpt/rree/Imports">
			<xsd:import schemaLocation="dnpt_schema_0.xsd" namespace="http://servicios.pge.red.uy/dnpt/rree/" />
			<xsd:import schemaLocation="dnpt_schema_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="dnpt_schema_2.xsd" namespace="http://schemas.datacontract.org/2004/07/DNPT.WS_RREE" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IServicioRREE_TieneProntuario_InputMessage">
		<wsdl:part name="parameters" element="tns:TieneProntuario" />
	</wsdl:message>
	<wsdl:message name="IServicioRREE_TieneProntuario_OutputMessage">
		<wsdl:part name="parameters" element="tns:TieneProntuarioResponse" />
	</wsdl:message>
	<wsdl:message name="IServicioRREE_Ping_InputMessage">
		<wsdl:part name="parameters" element="tns:Ping" />
	</wsdl:message>
	<wsdl:message name="IServicioRREE_Ping_OutputMessage">
		<wsdl:part name="parameters" element="tns:PingResponse" />
	</wsdl:message>
	<wsdl:portType name="IServicioRREE">
		<wsdl:operation name="TieneProntuario">
			<wsdl:input wsaw:Action="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/TieneProntuario" message="tns:IServicioRREE_TieneProntuario_InputMessage" />
			<wsdl:output wsaw:Action="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/TieneProntuarioResponse" message="tns:IServicioRREE_TieneProntuario_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<wsdl:input wsaw:Action="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/Ping" message="tns:IServicioRREE_Ping_InputMessage" />
			<wsdl:output wsaw:Action="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/PingResponse" message="tns:IServicioRREE_Ping_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicioRREEBasic" type="tns:IServicioRREE">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TieneProntuario">
			<soap:operation soapAction="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/TieneProntuario" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<soap:operation soapAction="http://servicios.pge.red.uy/dnpt/rree/IServicioRREE/Ping" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicioRREE">
		<wsdl:port name="ServicioRREEBasic" binding="tns:ServicioRREEBasic">
			<soap:address
				location="http://localhost:15858/ServicioRREE.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>